body{
    color:white ;
    background-color: rgba(0, 0, 0, 0.847);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button {
    font-size: 20px;
    margin: 10px;
}

canvas {
    border: 1px solid rgb(238, 237, 237);
}

span{
    color:green;
}

.canvasBox {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 20rem;
    margin: 0 auto;
}

#imageInputSection {
    display: flex;
    margin: 20px auto;
}

@media (max-width: 1200px) {
    #imageInputSection {
        flex-direction: column;
        align-items: center;
    }

    .canvasBox {
        width: 20rem;
    }
}